* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(public/pngtree-purple-space-background-with-planet-43661511.png);
    background-size: cover;
    background-color: black;
}

nav {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2vh;
    margin-right: 5vw;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar li {
    margin: 0 30px;
}

#mypersonalweb {
    color: #CCD6F6;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#homepage {
    color: #CCD6F6;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
#homepage:hover{
        color: white;
    }


#hobby{
    color: #CCD6F6;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
#hobby:hover{
    color: white;
}

#portfolio {
    color: #CCD6F6;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
#portfolio:hover{
    color: white;
}

.logo {
    display: flex;
    gap: 1vw;
    align-items: center;
}

#ig {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}
#ig:hover{
    opacity: 70%;
}

#wa {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}
#wa:hover{
    opacity: 70%;
}

.body {
    display: flex;
    flex-direction: column;
}

.judul h1{
    width: 100%;
    height: 150px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(100deg, #F843E9 15.77%, #0090FF 80.95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 15vh;
}

.subjudul h3 {
    color: #CCD6F6;
    text-align: center;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5vw;
}

.button {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.gradient-button {
    display: flex;
    width: 250px;
    height: 93px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    aspect-ratio: 244/93;
    border-radius: 100px;
    border: none;
    background: #000;
    color: #CCD6F6;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
}
.gradient-button::after{
    content: '';
    position: absolute;
    height: 112%;
    width: 107%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #F843E9, #0090FF);
    z-index: -1;
}
.gradient-button:hover{
    z-index: 0;
    box-shadow: 40px 0 100px #008cff71, 
            -40px 0 100px #e100ff4d;
    
}

footer {
    display: flex;
    justify-content: space-between;
}

.kiri {
    display: flex;
    margin-top: 2vh;
    margin-left: 7vw;
}

.outline{
    margin-left: 8%;
    margin-right: 8%;
    outline: 1px white solid;
    margin-top: 8.5vh;
}

#uc {
    margin-left: 8%;
    margin-top: 1%;
    width: 100px;
    height: 100px;
}

.outlinevertikal {
    outline: 1px white solid;
    margin-left: 1vw;
}

#informatics{
    color: #CCD6F6;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    display: flex;
    margin-left: 1vw;
}

#phone {
    color: #CCD6F6;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#mail{
    color: #CCD6F6;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#number {
    text-align: left;
    padding-left: 3%;
}

#email{
    padding-left: 3%;
}

#informasi{
    margin-top: 1vh;
    margin-right: 8vw;
    
}

#gambarpone:hover {
    opacity: 70%;
}

#gambarmail:hover {
    opacity: 70%;
}

@media (max-width: 800px) {
    nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .logo {
        gap: 10px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .outlinevertikal {
        margin-left: 20%;
    }

    .kiri {
        margin-right: 13%;
    }

    #email {
        text-align: left;
    }

    #informasi {
        margin-left: 13%;
    }

    .gradient-button {
        display: flex;
        width: 259px;
        height: 93px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        aspect-ratio: 244/93;
        border-radius: 100px;
        border: none;
        background: #000;
        color: #CCD6F6;
        margin: auto;
        position: relative;
    }
    .gradient-button::after{
        content: '';
        position: absolute;
        height: 112%;
        width: 107%;
        border-radius: 1000px;
        background-image: linear-gradient(to bottom right, #F843E9, #0090FF);
        z-index: -1;
    }
    .gradient-button:hover{
        z-index: 0;
        box-shadow: 40px 0 100px #008cff71, 
                -40px 0 100px #e100ff4d;
        
    }

    .button {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 10%;
    }

    .judul h1{
        width: auto;
        height: 150px;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Roboto;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: linear-gradient(100deg, #F843E9 15.77%, #0090FF 80.95%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 15vh;
    }

    #informatics {
        margin-left: 13%;
    }
}
