* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    color: #CCD6F6;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p{
    color: #CCD6F6;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

pre {
    color: #CCD6F6;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    color: #CCD6F6;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
body {
    background-image: url(public/pngtree-purple-space-background-with-planet-43661511.png);
    background-size: cover;
    background-color: black;
}

nav {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2vh;
    margin-right: 5vw;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar li {
    margin: 0 30px;
}

#mypersonalweb {
    color: #CCD6F6;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#homepage {
    color: #CCD6F6;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
#homepage:hover{
        color: white;
    }


#hobby{
    color: #CCD6F6;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
#hobby:hover{
    color: white;
}

#portfolio {
    color: #CCD6F6;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
#portfolio:hover{
    color: white;
}

.logo {
    display: flex;
    gap: 1vw;
    align-items: center;
}

#ig {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}
#ig:hover{
    opacity: 70%;
}

#wa {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}
#wa:hover{
    opacity: 70%;
}

.judul {
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    background: linear-gradient(100deg, #F843E9 15.77%, #0090FF 80.95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 4.39vh;
    margin-top: 5vh;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project1{
    display: flex;
}

.tulisankiri {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.paragraf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(public/rectangle-1.png);
    background-size: cover;
}

.imagecontainer{
    position: relative;
    display: inline-block;
}

.overlayimage {
    position: absolute;
    right: 0%;
    top: 8%;
}

.project2 {
    display: flex;
    margin-bottom: 3vh;
}

.tulisankanan {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.paragraf2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(public/rectangle-1.png);
    background-size: cover;
}

.imagecontainer2{
    position: relative;
    display: inline-block;
}

.overlayimage2 {
    position: absolute;
    left: 0%;
    top: 8%;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.kiri {
    display: flex;
    margin-top: 2vh;
    margin-left: 7vw;
}

#uc {
    margin-left: 8%;
    margin-top: 1%;
    width: 100px;
    height: 100px;
}

.outlinevertikal {
    outline: 1px white solid;
    margin-left: 1vw;
}

#informatics{
    color: #CCD6F6;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    display: flex;
    margin-left: 1vw;
}

#phone {
    color: #CCD6F6;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#mail{
    color: #CCD6F6;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#number {
    text-align: left;
    padding-left: 3%;
}

#email{
    padding-left: 3%;
}

#informasi{
    margin-top: 1vh;
    margin-right: 8vw;
    
}

#gambarpone:hover {
    opacity: 70%;
}

#gambarmail:hover {
    opacity: 70%;
}

.hr-line {
    width: 84%;
    height: 2px;
    background-color: white;
}

@media (max-width: 810px) {
    nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .logo {
        gap: 10px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .outlinevertikal {
        margin-left: 20%;
    }

    .kiri {
        margin-right: 13%;
    }

    #email {
        text-align: left;
    }

    #informasi {
        margin-left: 13%;
    }

    #informatics {
        margin-left: 15%;
    }

    .project1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .project2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .tulisankiri {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 10%;
    }

    .tulisankanan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10%;
    }

    .paragraf {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .paragraf pre {
        font-size: 15px;
        white-space: normal;
    }

    .paragraf p a {
        font-size: 15px;
    }

    .paragraf2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .paragraf2 p {
        font-size: 15px;
        white-space: normal;
    }

    .paragraf2 p a {
        font-size: 15px;
    }

    .overlayimage {
        position: absolute;
        width: 100%;
    }

    .imagecontainer {
        display: flex;
        width: 80%;
        margin-left: 10%;
    }

    .backgroundimage {
        width: 100%;
    }

    .backgroundimage2 {
        width: 100%;
    }

    .overlayimage2 {
        position: absolute;
        width: 100%;
    }

    .imagecontainer2 {
        display: flex;
        margin-top: 20%;
        width: 80%;
        margin-left: 10%;
    }

}
